In [3]:
from dask.distributed import Client

client = Client("tcp://127.0.0.1:60598")
client

In [4]:
# set filename
filename = "https://raw.githubusercontent.com/vaibhavwalvekar/NYC-Flights-2013-Dataset-Analysis/master/flights.csv"

In [20]:
import pandas as pd

pd_file = pd.read_csv(filename, index_col=0)

In [21]:
pd_file.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0

In [29]:
import dask.dataframe as dd

df = dd.from_pandas(pd_file, npartitions=2)
df.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0

In [32]:
df.describe()

Dask DataFrame Structure:
                  year    month      day dep_time dep_delay arr_time arr_delay   flight air_time distance     hour   minute
npartitions=1
               float64  float64  float64  float64   float64  float64   float64  float64  float64  float64  float64  float64
                   ...      ...      ...      ...       ...      ...       ...      ...      ...      ...      ...      ...
Dask Name: describe-numeric, 112 tasks

In [38]:
df.dep_delay.max(axis=0).compute()

1301.0

In [44]:
%%time

df.groupby("carrier").dep_delay.max().compute()

CPU times: user 136 ms, sys: 64.8 ms, total: 201 ms
Wall time: 345 ms

carrier
9E     747.0
AA    1014.0
AS     225.0
B6     502.0
DL     960.0
EV     548.0
F9     853.0
FL     602.0
HA    1301.0
MQ    1137.0
OO     154.0
UA     483.0
US     500.0
VX     653.0
WN     471.0
YV     387.0
Name: dep_delay, dtype: float64

In [45]:
%%time

pd_file.groupby(['carrier']).dep_delay.max()

CPU times: user 27.8 ms, sys: 2.52 ms, total: 30.3 ms
Wall time: 32.7 ms

carrier
9E     747.0
AA    1014.0
AS     225.0
B6     502.0
DL     960.0
EV     548.0
F9     853.0
FL     602.0
HA    1301.0
MQ    1137.0
OO     154.0
UA     483.0
US     500.0
VX     653.0
WN     471.0
YV     387.0
Name: dep_delay, dtype: float64